.header{
    background-color: #1F1F1F;
    padding: 1rem ;

}
.header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__logo{
    color: #E50914;
    font-size: 2 .5rem;
    font-weight: bold;
    text-decoration: none;
  
}
.header__nav {
    color: #F1F1F1;
    display: flex;
    gap: 4rem;
}
.header__nav a{
    color: #F1F1F1;
    text-decoration: none;
    font-size: 1rem;
    &:hover {
        color:#E50914;
    }
}
    
    
